@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Optima", sans-serif;
}

body {
  background-color: #fbf1f2;
}

section {
  margin-top: 3rem;
}

/* @media screen and (max-width: 767px) {
  .flower-img {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-110px);
  }
} */

@media screen and (min-width: 820px) {
  .flower-img {
    display: block;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .title {
    @apply uppercase text-balance text-3xl md:text-4xl
  }

  .text-color {
    @apply text-[#CC8990]
  }

  .tag {
    @apply bg-[#f5b3bf64] py-1 px-2 text-balance rounded-lg inline-flex text-xl w-fit 
  }

  .description {
    @apply text-sm text-[#939393]
  }

  .btn {
    @apply bg-[#FCE9EC] py-1 px-2 rounded-lg inline-flex
  }

  .big-btn {
    @apply w-full bg-[#E8ADB3] rounded-lg py-4 px-2 text-white uppercase text-sm
  }

  .container {
    @apply px-10 max-w-[1200px] mx-auto
  }

  .price-tag {
    @apply py-3 px-4 bg-white rounded-lg shadow-md
  }
}
