@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Optima", sans-serif;
}

body {
  background-color: #fbf1f2;
}

@media screen and (max-width: 767px) {
  .flower-img {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-110px);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .tag {
    @apply bg-[#f5b3bf64] py-1 px-2 rounded-lg inline-flex
  }
}
